name: Pre Merge Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  gradle:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Gerar APK Monstro
        # Removemos o '-x sonar' porque ele não existe no seu projeto. 
        # Mantivemos o '-x lint' para ignorar avisos e o '--continue' para forçar o build.
        run: ./gradlew :app:assembleDebug -x lint --continue

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Monstro-V18-APK
          path: app/build/outputs/apk/debug/app-debug.apk
